<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pot Luck: What Am I Bringing!</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">


    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1><span>Ohana Potluck App</span></h1>
      </div>
    </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid" id="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>        
        </button>
          <a class="navbar-brand" href="./">OHANA  PotLuck</a>        
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="./">Home<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/food">Food<span class="sr-only">(current)</span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>PotLuck App: What Am I Bringing!</h2>
        </div>
      </div>

<!-- BEGIN FORM SAMPLE of Suggesting a new food item -->

<section id='add-food' class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal">
          <fieldset>
            <!-- Form Name -->
            <legend>Food</legend>
            <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="food_item">Item:</label>
              <div class="col-md-4">
                <input id="textinput" name="item" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="food_description">Description:</label>
              <div class="col-md-4">
                <input id="textinput" name="description" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="food_image">Image:</label>
              <div class="col-md-4">
                <input id="textinput" name="image" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>            

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">Item to Bring:</label>
              <div class="col-md-4">
                <button id="singleButton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>

<!--   END FORM SAMPLE -->

<!-- Food -->
<section>
<div id='foods'>
</div>
  </section>

<!-- handlebars template to render-->
<script id="food-template" type="text/x-handlebars-template">

  <!-- one food -->
  <div class='row food' data-food-id='{{_id}}'>
    <div class='container'>
      <div class='col-md-10 col-md-offset-1'>
          <div class='panel-body'>
            <!-- begin food internal row -->
              <div class='row'>
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Item:</h4>
                      <span class='item'>{{item}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Description:</h4>
                      <span class='food-description'>{{description}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Image:</h4>
                      <span class='food-image'><img src="{{image}}"></span>
                  </li>                             
                </ul>
              </div>
              <div>
                <button class='btn btn-default edit-food'>Edit</button>
                <button class='btn btn-danger delete-food'>Delete</button>
              </div> 
            </div>
          <!-- end of food internal row --> 
    </div>
  </div>
 </div> 

   <!-- end one food item -->
</script>
<footer>
  <p>&copy; 2016 Colbert Tse</p>
</footer>
</body>
</html>